[Desktop Entry]
Name=KNewz
Name[x-test]=xxKNewzxx
Exec=knewz %i -caption "%c"
Icon=applications-internet
Type=Application
MimeType=application/x-nzb;
DocPath=knewz/index.html
GenericName=A NZB downloading program for KDE4
Terminal=false
Categories=Qt;KDE;Network;
X-DBUS-ServiceType=Unique