<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="knewz" version="1">
    <MenuBar>
        <Menu name="settings">
            <Merge/>
            <Action name="toggle_dock"/>
        </Menu>
    </MenuBar>
</kpartgui>