[Desktop Entry]
Categories=Qt;KDE;Network;FileTransfer;
DocPath=knewz/index.html
Exec=knewz %i %m -caption "%c"
GenericName=NZB Download Program
Icon=applications-internet
MimeType=application/x-nzb;
Name=KNewz
Terminal=false
Type=Application
X-DBUS-ServiceName=com.googlecode.knewz
X-DBUS-ServiceType=Unique
X-DocPath=knewz/index.html
X-KDE-StartupNotify=true