<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="knewz" version="1">
    <MenuBar>
        <Menu name="settings">
            <Merge/>
            <Action name="toggle_dock" append="save_merge"/>
        </Menu>
    </MenuBar>
</kpartgui>